<div class="container">
  <p><b>Employee Information</b></p>
  <p>Name: {{ userInformation.employee.name }}</p>
  <p>Email: {{ userInformation.employee.email }}</p>
  <p>Role: {{ userInformation.employee.role }}</p>

  <p>List Team</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Team Name</th>
        <th scope="col">Leader</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <ng-container *ngFor="let team of userInformation.team">
      <tr>
        <td>
          <a [routerLink]="['/user/teams/', team._id]">{{ team.teamName }}</a>
        </td>
        <td>{{ team.leaderID!.name }}</td>
      </tr>
    </ng-container>
  </table>
</div>
